<div class="mainWrap" [ngClass]="{'collapsed': isCollapsed}">
    <div class="aside">
        <div class="asideInner">
            <div class="logo">
                <img class="logoImage" src="../../../../assets/code-collab.png" alt="logo">
            </div>

            <h3>Connected</h3>

            <div class="clientsList">
                <div *ngFor="let client of clients">
                    <app-client username="{{client.username}}"></app-client>
                </div>
            </div>

        </div>

        <button class="btn copyBtn" (click)="copyRoomId()">Copy ROOM ID</button>
        <button class="btn leaveBtn" (click)="leaveRoom()">Leave</button>
    </div>

    <div class="editorWrap">
        <app-editor [socket]="socket" [roomId]="roomId" (code)="received($event)"></app-editor>
    </div>

    <button class="toggleButton" (click)="toggleAside()">
        {{ isCollapsed ? '▶' : '◀' }}
    </button>
</div>